body {
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}

h1 {
    font-size: 36px;
    color: #333;
    margin-bottom: 20px;
    text-align: center;
}

p {
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
    max-width: 842px;
    margin-left: auto;
    margin-right: auto;
}

ul {
    list-style-type: disc;
    font-size: 18px;
    color: #666;
    line-height: 1.5;
    margin-bottom: 30px;
    text-align: justify;
    max-width: 876px;
    margin-left: auto;
    margin-right: auto;
}

li {
    font-size: 18px;
    color: #333;
    margin-bottom: 10px;
    margin-left: 30px;
    text-align: justify;
}

a {
    color: #333;
    text-decoration: none;
    font-weight: bold;
}

a:hover {
    color: #000;
}

.container {
    max-width: 1300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

